$colors--green-200:     hsl(148, 38%, 91%);
$colors--green-600:     hsl(169, 82%, 27%);
$colors--red:           hsl(0, 66%, 54%);
$colors--white:         hsl(0, 0%, 100%);
$colors--grey-500:      hsl(186, 15%, 59%);
$colors--grey-900:      hsl(187, 24%, 22%);

$fonts--size-labels:    16px;
$fonts--weight-400:     400;
$fonts--weight-700:     700;
$fonts--family:         "Karla";

$size--main-mobile:  350px;
$size--main-desktop: 750px;
